#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jupyter
Exec=/bin/bash -c '/home/$USER/ml/bin/jupyter lab'
Icon=/home/pavel/Desktop/.jupyter.png

